
@{
    ViewData["Title"] = "GetPlanetById";
}

<h1>GetPlanetById Results</h1>

@model Planet

<p>Name: @Model.name</p>
<p>Population: @Model.population</p>
<p>Climate: @Model.climate</p>
<p>Terrain: @Model.terrain</p>

<a href="/Home/Index">Search For Another Item</a>